.posts{

  margin-top: 4rem;

  a {

    display: block;

    h1{
      color: var(--gray-100);
      font-weight: 700;
      font-size: 1.625rem;
      transition: color 0.2s;

      &:hover{
        color: var(--pink-100);
      }
    }
    p{
      color: var(--gray-400);
      font-size: 1rem;
      margin-top: 0.5rem
    }
    div{
      margin-top: 1.5rem;

      span{
        margin-right: 2rem;
        color: #BBBBBB;
        font-size: 1rem;

        svg{
          margin-right: 0.5rem;
        }
      }
    }

    & + a{
      margin-top: 3rem;
    }
  }
  button{
    background: none;
    border: 0;
    color: var(--pink-100);
    font-size: 1rem;

    font-weight: 600;
    margin-top: 4rem;
  }
}
